<h1>Index</h1>

<ul class="list-group">

 <% @todo.each do |contenido| %>
  <li class="list-group-item"><%= contenido.description %></li>
  <li class="list-group-item"><%= contenido.completed %></li>
  <li class="list-group-item"><%= link_to 'Crear To Do', new_todo_path %></li>

</ul>
<% end %>


