<br>
<br>
<br>
<h1>Things TO DO!</h1>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h5>No Completados</h5>
      <ul>
        <%@todo.each do |contenido| %>
          <%if !contenido.completed %>
            <li><%=contenido.description%></li>
          <%end%>
        <%end%>
      </ul>
    </div>
    <div class="col-sm-6">
      <h5>Completados</h5>
        <ul>
          <%@todo.each do |contenido| %>
            <%if contenido.completed %>
              <li><%=contenido.description%></li>
            <%end%>
          <%end%>
        </ul>
    </div>
  </div>
</div>
